#floatdivs {
    height: 6em;
    margin-top: 6em;
}
#head {
    font-size: 2em;
    float: left;
}
#link {
    float: right;
    text-decoration: underline;
    color: black;
}
#bgimg {
    margin: 2em;
    border-top: 5px solid red;
    border-bottom: 5px solid red;
    background-image:url(./image.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
#footer {
    text-align: center;
}
span {
    font-weight: bold;
    margin: 3em;
    color: darkblue;
    text-shadow: 2px 2px 2px;
}